/*Пользовательское меню*/
/*//////////////////////////////////////////////////////////////////////*/
#main-nav-menu .menu {
	margin: 0;
	padding: 0px 6px 0;
	line-height: 100%;
        border-bottom-color: #502227;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-top-color: #502227;
        border-top-width: 3px;
        border-top-style: solid;
        font-size: 15px;
}
#main-nav-menu .menu .disable_request:hover{

}
#main-nav-menu .menu li {
	margin: 0 5px;
	float: left;
	position: relative;
	list-style: none;
        padding: 0 0 0;
        text-align: center;
}

/* main level link */
#main-nav-menu .menu a {
	font-weight: bold;
	color: whitesmoke;
        font-family: Proun;
	text-decoration: none;
	display: block;
	padding:  8px 4px;
	margin: 0;
	/*-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        */
}

#main-nav-menu .menu .login-button{
        float: right;
}

#main-nav-menu .menu .login-button a {
	font-weight: bold;
	color: #fc0621;
        font-family: Proun;
	text-decoration: none;
	display: block;
	padding:  8px 4px;
	margin: 0;
	/*-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        */
}

#main-nav-menu .menu .lk-button{
        float: right;
}

#main-nav-menu .menu .lk-button a {
	font-weight: bold;
	color: #fc0621;
        font-family: Proun;
	text-decoration: none;
	display: block;
	padding:  8px 4px;
	margin: 0;
	/*-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        */
}

#main-nav-menu .menu .disable_request a, #main-nav-menu .menu li.disable_request:hover a{
        font-weight: bold;
	color: #ccc;
        font-family: Proun;
	text-decoration: none;
	display: block;
	padding:  8px 4px;
	margin: 0;
}

/* main level link hover */
#main-nav-menu .menu .current a, #main-nav-menu .menu li:hover > a {
	color: #f2c95d;
        background-color: #FE4F58;
}
/* sub levels link hover */
#main-nav-menu .menu ul li:hover a, #main-nav-menu .menu li:hover li a {
	background: none;
	border: none;
	color: #502227;
}
#main-nav-menu .menu ul a:hover {
	color: #FE4F58 !important;
}
/* level 2 list */
#main-nav-menu .menu ul {
        font-size: 14px;
	/*background: #ddd; /* for non-css3 browsers */
        z-index: 10;
	display: none;
	margin: 0;
	padding: 0;
	width: 125px;
	position: absolute;
	top: 25px;
	left: 0;
	border: solid 2px #502227;
        /*background: #F1E5C9;*/
        background: #FFFFFF;
}
/* dropdown */
#main-nav-menu .menu li:hover > ul {
	display: block;
}
#main-nav-menu .menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#main-nav-menu .menu ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
#main-nav-menu .menu ul ul {
	left: 200px;
	top: -2px;
}
/* rounded corners for first and last child */
#main-nav-menu .menu ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#main-nav-menu .menu ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
/* clearfix */
#main-nav-menu .menu:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#main-nav-menu .menu {
	display: inline-block;
}
html[xmlns] #main-nav-menu .menu {
	display: block;
}
* html #main-nav-menu .menu {
	height: 1%;
}
/*//////////////////////////////////////////////////////////////////////*/