body{
  background-image: url(../img/bg.jpg);
}

div.page{
  width: 1000px;
  /*height: 100%;*/
  background-color: white;
  margin: 0 auto;
}

div.page div.head{
  height: 200px;
  background-color: blue;
}

div.page div.menu-wrapper{
  height: 36px;
  background-color: black;
}

div.page div.body iframe{
  width: 996px;
  height: 100%;
  margin: 0 auto;
}

div.page div.body{
  /*min-height: 500px;*/
  height: 630px;
}

body.ibody{
  background-color: white;
  background-image: none;
}

div.list-item{
  margin-left: 50px;
}

p.no-signal{
  float: right;
  border: 2px dotted red;
  margin-right: 70px;
  margin-top: 180px;
  font-size: 32px;
  font-weight: bold;
  color: red;
}

p.yes-signal{
  /*float: right;*/
  border: 2px dotted green;
  margin-right: 70px;
  margin-top: 180px;
  font-size: 32px;
  font-weight: bold;
  color: green;
  text-align: center;
}

div.overlay{
  position: fixed;
  background-color: black;
  z-index: -1;
  left: 0px;
  top: 0px;
  height: 630px;
  width: 100%;
  opacity: 0;
}

div.overlay iframe{
  height: 550px;
  width: 100%;
  background-color: white;
}

div.close-button{
  margin-left: 10px;
  float: left;
  color: white;
  text-align: center;
  border: 3px dotted white;
  font-size: 20px;
  text-decoration: none;
  width: 100px;
}